.filter_tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #d6d6d6;
  border-radius: 10px;
  padding: 10px;

  .adults_counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .filter_tool {
    text-align: center;
    .adults_counter {
      display: block;
    }
  }
}
