.items_container {
  // display: grid;
  // grid-gap: 10px;
  // grid-template-columns: 200px 200px 200px;
  // grid-template-areas: "images images images";

  background-color: #fff;
  color: #444;
  // display: grid;
  // padding: 1em;
  // background-color: white;
  // border-radius: 1em;
  // justify-items: center;
  // grid-template-areas:
  //   "images"
  //   "stars"
  //   "info"
  //   "rooms";

  .img_wrapper {
    display: grid;
    grid-template-columns: 16rem 1fr 1fr;

    .items_img {
      overflow: hidden;
      border-radius: 10px;
      margin-right: 0;
      margin-bottom: 10px;

      & img {
        max-width: 100%;
      }
    }
    .hotel_info {
      display: flex;
      flex-direction: column;
      padding-inline-start: 20px;
    }
    .hotel_star {
      display: flex;
      justify-content: flex-end;
    }
  }

  .items_rooms {
    grid-area: "rooms";
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgba(55, 55, 55, 0),
      rgba(55, 55, 55, 0.5),
      rgba(55, 55, 55, 0)
    );
  }
}
