.list_container {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;

  .list_hotels {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (max-width: 768px) {
  .list_container {
    padding: 10px;

    .list_hotels {
      display: block;
    }
  }
}
