.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hotel_banner {
    display: block;
    height: 20vh;
    width: 100%;
    object-fit: cover;
  }

  .filter_navbar {
    transform: translateY(-50%);
    margin-bottom: -10px;
  }
}
