$primaryColor: #2196f3;
$primaryTextColor: #ffffff;

$logoBgColor: #42a5f5;
$topbarBgColor: #2196f3;
$topbarIconColor: #ffffff;
$topbarIconHoverBgColor: #64b5f6;
$lightMenuitemActiveTextColor: #2196f3;
$darkMenuitemActiveTextColor: #2196f3;
$horizontalMenuitemActiveBgColor: #2196f3;
$horizontalMenuitemActiveTextColor: #ffffff;
$badgeBgColor: #2196f3;
$badgeTextColor: #ffffff;
