// import for all the main file
@import "./_variables.scss";
@import "./guestline-styles/main";
@import "./app";

body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
